html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  margin: 100px;
  width: 100%;
  position: relative;
}
.little-box {
  cursor: pointer;
  display: block;
  float: left;
  height: 20px;
  margin: 0 27px;
  width: 20px;
}
.folded-corner {
  background-image: url(../folded-corner-lighter.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0px;
  top: -1px;
}
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  height: 350px;
  padding: 25px;
  width: 300px;
}
.box-one,
.paper-one {
  background: #8080ff;
}
.box-two,
.paper-two {
  background: #ff8080;
}
.box-three,
.paper-three {
  background: #ffff80;
}
.box-four,
.paper-four {
  background: #00ff00;
}
.papers {
  position: relative;
  top: 50px;
  left: 0;
}
.paper {
  -webkit-box-shadow: -10px 10px 10px #ddd;
  -moz-box-shadow: -10px 10px 10px #ddd;
  box-shadow: -10px 10px 10px #ddd;
  height: 100px;
  width: 0px;
  overflow: hidden;
  margin-top: 200px;
  margin-right: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
input {
  display: none;
}
input#one:checked ~ .papers .paper-one,
input#two:checked ~ .papers .paper-two,
input#three:checked ~ .papers .paper-three,
input#four:checked ~ .papers .paper-four {
  -webkit-transition: all 0.6s 0s ease-out;
  -o-transition: all 0.6s 0s ease-out;
  -moz-transition: all 0.6s 0s ease-out;
  transition: all 0.6s 0s ease-out;
  height: 350px;
  margin-top: 0;
  margin-right: 0px;
  width: 300px;
}
input#one:checked ~ .papers .paper-one .folded-corner,
input#two:checked ~ .papers .paper-two .folded-corner,
input#three:checked ~ .papers .paper-three .folded-corner,
input#four:checked ~ .papers .paper-four .folded-corner {
  -webkit-transition: all 0.6s 0.1s ease-out;
  -o-transition: all 0.6s 0.1s ease-out;
  -moz-transition: all 0.6s 0.1s ease-out;
  transition: all 0.6s 0.1s ease-out;
  height: 50px;
  width: 50px;
}
